# .vscode	: 	Other users may not be on vscode, so this should not be commited
.vscode/

# INCLUDE this file, becuase with it included, the project can be easily run from anywhere
# lib folder
# lib/

# .txt  :  	Ill have this for now, but might remove this later
*.txt

# *.private	: 	This is to ignore any info I dont want public
*.private
# .private is just a convention, not a key work like in programing. So I still have to manualy ignore and lable files with it

# .class folders - this was only source code gets uploaded
*.class